# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Data (jangan push data mentah ke GitHub)
data/raw/
data/cleaned/
data/final/

# Model besar
model/saved_model/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
frontend/build/
