# Dependencies
frontend/build/
node_modules/
__pycache__/
*.pyc
.env
.env.local
.env.production

# Build outputs
dist/
build/
.next/

# ML / Data
*.h5
*.keras
*.pkl
/data/raw/*
/data/processed/*
!/data/raw/.gitkeep
!/data/processed/.gitkeep

# Misc
.DS_Store
*.log
.vscode/
# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/
Thumbs.db

# Model besar
model/saved_model/

# Jupyter
.ipynb_checkpoints/



